{% for dado in relatorio.dados %}
<div class="header">
    <h2>{{ dado.unidade }}</h2>
    <p>{% trans %}Período de {{ dataInicial }} a {{ dataFinal }}{% endtrans %}</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Senha|Bilhete{% endtrans %}</th>
            <th>{% trans %}Cliente{% endtrans %}</th>
            <th>{% trans %}Data{% endtrans %}</th>
            <th title="{% trans %}Hora de Chamada{% endtrans %}">{% trans %}Chamada{% endtrans %}</th>
            <th title="{% trans %}Hora do Início do atendimento{% endtrans %}">{% trans %}Início{% endtrans %}</th>
            <th title="{% trans %}Hora do Fim do atendimento{% endtrans %}">{% trans %}Fim{% endtrans %}</th>
            <th title="{% trans %}Serviço escolhido na triagem{% endtrans %}">{% trans %}Serviço Triado{% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
            <th>{% trans %}Atendente{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for a in dado.atendimentos %}
        <tr>
            <td>{{ a.siglaSenha }}{% if isNumeracaoServico %}{{ a.numeroSenhaServico }}{% else %}{{ a.numeroSenha }}{% endif %}</td>
            <td>{{ a.nomeCliente }}</td>
            <td>{{ a.dataChegada|date('d/m/Y H:i:s') }}</td>
            <td>{{ a.dataChamada|date('H:i:s') }}</td>
            <td>{{ a.dataInicio|date('H:i:s') }}</td>
            <td>{{ a.dataFim|date('H:i:s') }}</td>
            <td>{{ a.servico.nome }}</td>
            <td>{{ a.nomeStatus }}</td>
            <td>{{ a.usuario.login }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="9">
                <strong>Total: {{ dado.atendimentos|length }}</strong>
            </td>
        </tr>
    </tfoot>
</table>
{% endfor %}
