{% use 'blocks.html.twig' %}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <title>{% if module %}{{ module.nome }} | {% endif %}Novo SGA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="{{ baseUrl() }}/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap.min.css?v={{ version }}" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap-theme.min.css?v={{ version }}" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/style.css?v={{ version }}" />
        <!--[if lt IE 9]>
        <script src="{{ baseUrl() }}/js/html5shiv.js"></script>
        <script src="{{ baseUrl() }}/js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ baseUrl() }}/js/jquery.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/bootstrap.min.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/script.js?v={{ version }}"></script>
        <script type="text/javascript"> 
            SGA.baseUrl = '{{ baseUrl() }}'; 
            SGA.version = '{{ version }}';
            SGA.dialogs.error.title = '{% trans %}Erro{% endtrans %}';
            SGA.dateFormat = '{% trans %}d/m/Y{% endtrans %}';
            SGA.invalidSession = '{% trans %}Sessão Inválida. Possivelmente o seu usuário está sendo utilizado em outra máquina.{% endtrans %}';
            SGA.inactiveSession = '{% trans %}Sessão expirada. Favor efetuar o login novamente.{% endtrans %}';
        </script>
        {{ block('head') }}
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".novosga-navbar">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ baseUrl() }}">SESI SC</a>
                </div>
                <div class="collapse navbar-collapse novosga-navbar">
                    {% if unidade %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ unidade }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for modulo in modulosUnidade %}
                                <li><a href="{{ baseUrl() }}/modules/{{ modulo.chave }}">{{ modulo.nome }}</a></li>
                                {% endfor %}
                                <li>
                                    <a href="#dialog-unidade" data-toggle="modal">
                                        {% trans %}Trocar unidade{% endtrans %}
                                        &nbsp;<span class="glyphicon glyphicon-transfer"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#dialog-unidade" class="dropdown-toggle" data-toggle="modal">{% trans %}Escolher unidade{% endtrans %}</a>
                        </li>
                    </ul>
                    {% endif %}
                    {% if modulosGlobal|length %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Global{% endtrans %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for modulo in modulosGlobal %}
                                <li><a href="{{ baseUrl() }}/modules/{{ modulo.chave }}">{{ modulo.nome }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario.nome }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ baseUrl() }}/profile"><span class="glyphicon glyphicon-user"></span> {% trans %}Perfil{% endtrans %}</a></li>
                                <li><a href="{{ baseUrl() }}/logout"><span class="glyphicon glyphicon-off"></span> {% trans %}Sair{% endtrans %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <p>Novo SGA v{{ version }}</p>
        </div>
        <div id="dialog-unidade" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Unidade{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>{% trans %}Favor escolher a unidade{% endtrans %}</label>
                            <select id="unidade" class="form-control">
                                <option value="">{% trans %}Selecione{% endtrans %}</option>
                                {% for item in unidades %}
                                <option value="{{ item.id }}" {% if item.id == unidade.id %}selected="selected"{% endif %}>{{ item.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="SGA.Unidades.set()">{% trans %}Enviar{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        {% if not unidade and not modulo %}
        <script type="text/javascript"> SGA.Unidades.show(); </script>
        {% endif %}
        <span id="ajax-loading" class="mini-loading" style="display:none"></span>
    </body>
</html>
