<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ atendimento.senha }}</title>
    <link type="text/css" rel="stylesheet" href="{{ baseUrl() }}/css/style.css?v={{ version }}" />
    <link type="text/css" rel="stylesheet" href="{{ baseUrl() }}/css/bootstrap.min.css?v={{ version }}" />
    <link type="text/css" rel="stylesheet" href="{{ baseUrl() }}/css/print.css?v={{ version }}" />
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body onload="window.print()">
    <div id="senha">
        <div id="senha-header">
            {{ atendimento.unidade.nome }}<br />
            <span class="data">{{ now|date('d/m/Y H:i') }}</span>
        </div>
        <div id="senha-body">
            {{ atendimento.senha }}
            <span class="descricao">
                {{ atendimento.servico.nome }}<br />
                {{ atendimento.senha.prioridade.nome }}
            </span>
        </div>
        <div id="senha-footer">
            {{ atendimento.unidade.mensagemImpressao }}
        </div>
    </div>
</body>
</html>
