<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ relatorio.titulo }}</title>
    <link rel="stylesheet" type="text/css" href="{{ resources('css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ resources('css/style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ resources('css/relatorio.css', module.chave) }}" />
    <link rel="shortcut icon" href="{{ resources('images/favicon.png') }}" />
</head>
<body>
    <div id="report" class="container">
        <div id="report-header">
            <a href="javascript:window.print()" class="print">
                <span class="glyphicon glyphicon-print"></span>
                {% trans %}Imprimir{% endtrans %}
            </a>
            <h1>{{ relatorio.titulo }}</h1>
        </div>
        <div id="report-body">
            {% include page %}
        </div>
        <div id="report-footer">
            <p>{{ relatorio.titulo }} - SESI 2018</p>
        </div>
    </div>
</body>
</html>
