/**
 * Novo SGA - Atendimento
 * icon(s) by pixel-mixer.com
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */

.module-content .header {
    margin-bottom: 0 !important;
}

#atendimento {
    position: relative;
}

/* local */

#atendimento #local {
    min-width: 130px;
    height: 150px;
    background-color: #F8CA00;
    border-bottom: 3px solid #333;
}

#atendimento #local span {
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
    display: block;
}

#atendimento #local .label-local {
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 14px;
}

#atendimento #local .numero {
    font-size: 80px;
    line-height: 80px;
    padding: 5px 0;
}

#atendimento #local a {
    color: #666;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    display: block;
}

#atendimento #local a:hover { color: #000; }

/* controls */

#atendimento #controls {
    min-height: 300px;
}

#atendimento #controls .btn-control {
}

#atendimento #controls .btn-control span {
    padding-top: 60px;
    background-position: center 5px;
    background-repeat: no-repeat;
    display: block;
}

#atendimento #controls .btn-control.chamar span,
#atendimento #controls .btn-control.chamar_novamente span { background-image: url(../images/icon-chamar.png); }
#atendimento #controls .btn-control.iniciar span { background-image: url(../images/icon-iniciar.png); }
#atendimento #controls .btn-control.encerrar span,
#atendimento #controls .btn-control.codificar span { background-image: url(../images/icon-encerrar.png); }
#atendimento #controls .btn-control.encerrar_voltar span { background-image: url(../images/icon-voltar.png); }
#atendimento #controls .btn-control.nao_compareceu span { background-image: url(../images/icon-naocompareceu.png); }
#atendimento #controls .btn-control.erro_triagem span { background-image: url(../images/icon-errotriagem.png); }

#atendimento #chamar .row {
    padding-top: 20px;
}

#atendimento #controls #codificar h3 {
    padding-bottom: 10px;
    margin: 0;
}

#atendimento #controls #codificar .items {
    padding: 10px;
    border-radius: 3px;
    background-color: #F7F9FE;
    border: 1px solid #E1E1E8;
    list-style-position: inside;
}

#atendimento #controls #codificar .items ul { padding: 5px 10px; }

#atendimento #controls #codificar #macro-servicos {
    height: 300px;
    overflow: auto;
}

#atendimento #controls #codificar #servicos-realizados {
    height: 150px;
    overflow: auto;
}

#atendimento #controls #codificar div.redirecionar {
    padding: 10px 0 5px 10px;
}

#atendimento #controls #codificar div.redirecionar input {
    margin-right: 5px;
}

/* controls - atendimento info */

#atendimento #controls .senha {
}

#atendimento #controls .senha .title {
    padding: 5px 10px;
    margin: 0;
}

#atendimento #controls .senha .info {
    padding: 15px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e8;
}

#atendimento #controls .senha .info li {
    list-style: none;
    padding: 3px 0;
    display: block;
}

#atendimento #controls .senha .info li .atend-label {
    width: 100px;
    float: left;
}

#atendimento #controls .senha .info li.numero .atend-value {
    font-size: 30px;
    font-weight: bold;
}

#atendimento #controls .senha .info.prioridade li.nome-prioridade .value { font-weight: bold }

/* fila */

#atendimento #fila {
    clear: both;
}

#atendimento #fila h4 {
    padding: 5px 0 5px 10px;
    display: block;
}

#atendimento #fila h4 span {
    padding-left: 5px;
}

#atendimento #fila span.tipo-1 { } /* todos */
#atendimento #fila span.tipo-2 { color: blue; } /* convencional */ 
#atendimento #fila span.tipo-3 { color: red; } /* prioridade */

#atendimento #fila ul {
    min-height: 40px;
    padding: 0 0 10px 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #F7F9FE;
    background-image: url(../images/client-16.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 1px solid #e1e1e8;
}
    
#atendimento #fila ul li {
    list-style: none;
    display: inline;
    padding: 12px 6px 0 6px;
    display: inline-block;
}

#atendimento #fila ul li .proximo {
    font-size: 20px;
}

#atendimento #fila ul li .prioridade {
    color: #ff3300;
}

#atendimento #fila ul li.empty {
    color: #999;
    font-style: italic;
    padding-top: 15px;
}

p.links {
    padding-top: 20px;
    text-align: center;
    clear: both;
}

p.links a {
    margin: 0 5px;
}

#dialog-busca .modal-dialog {
    width: 90%;
}

#dialog-busca .result {
    overflow: auto;
}
